.placar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 5px;
}

img {
  height: 8em;
  border-radius: 4em;
  margin: 10px;
  background-color: #38F2C1;
  
}

.imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btns {
  font-size: 1em;
  height: 3em;
  width: 5.5em;
  margin: 10px;
  color: white;
  background-color: #29CC7D;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.jkpbtn {
  font-size: 1.2em;
  height: 3em;
  width: 16em;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #29CC7D;
  color: white;
  font-weight: bold;
}

.escolhas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jogar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#resultado {
  text-align: center;
  height: 3em;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
}

#resultado::placeholder {
  color: white;
  background-color: transparent;
  font-weight: bold;
  
}

body {
  background-color: #21181C;
  color: white;
}

.btns:active, .jkpbtn:active {
  background-color: #21AB68;
  transition: 120ms;
}

.app {
  margin: 3em 0 3em 0;
}